<main>
    <h2>Home</h2>

    {{#each books}}
    <div class="book">
        <h3>Título: {{this.title}}</h3>
        <p>Quantidade de páginas: {{this.pageqty}}</p>

        <div class="buttons">
            <a href="/book/{{this.id}}" class="mais">Ver Mais</a>
            <a href="/edit/{{this.id}}" class="editar">Editar</a>
            <form action="/delete/" method="post">
                <input type="hidden" name="id" value="{{this.id}}">
                <button class="Excluir">Excluir</button>
            </form>
            
        </div>
    </div>
    {{/each}}
</main>